.app__wrapper {
  width: 1380px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  'h h'
  'n c';
}

.header img {
  width: 100px;
}

.header {
  grid-area: h;
  background-color: cornflowerblue;
}

.nav {
  grid-area: n;
  background-color: blanchedalmond;
}

.content {
  grid-area: c;
  background-color: darksalmon;
}

.banner {
  width: 1200px;
  height: 200px;
}

